{% extends 'rx_core/base.html' %}

{%block content %}
<div class="container-fluid">
  <div class="row py-4 px-2">
    <div class="col-lg-10 col-sm-8">
      {%block page_title %}
        <h1>Default Page</h1>
      {% endblock %}
    </div>
    <div class="col-lg-2 col-sm-4 ml-auto">
      {%block info %}
      {% endblock %}
    </div>
  </div>

  {%block navtabs %}
  <hr/>
  {% endblock %}

  <div class="row p-2 py-4">
    {%block page %}
    <p>Default Page Content</p>
    {% endblock %}
  </div>
</div>
{% endblock %}
