{% extends 'rx_core/app_base.html' %}
{% load static %}

{%block page_title %}
  <h1>Patient Portal</h1>
{% endblock %}

{%block page %}
<div class="col-lg-6 offset-lg-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Intake Form Submitted</h5>
      <p class="card-text">Thank you for checking in. A physician will be with you shortly.</p>
      <a href="{% url 'rx_core:patient_portal' %}" class="btn btn-primary">Return to main</a>
    </div>
  </div>
</div>
{% endblock %}
