{% extends 'rx_core/app_base.html' %}
{% load static %}

{%block page_title %}
  <h1>Waiting Room</h1>
{% endblock %}

{%block navtabs %}
<nav class="w-100">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-current-tab"
       href="{% url 'rx_core:waiting_room' %}" role="tab">
       Waiting Patients</a>
    <a class="nav-item nav-link" id="nav-completed-tab"
       href="{% url 'rx_core:waiting_room' %}" role="tab">
       Checked Patients</a>
  </div>
</nav>
{% endblock %}

{%block page %}
    {% if patient_list %}
      {% for patient in patient_list %}
      <div class="col-lg-4 col-sm-6">
        <div class="card border-info mb-3">
          <div class="card-header">Arrived {{ now }}</div>
          <div class="card-body text-info">
            <a href="{% url 'rx_core:patient_detail' patient.id %}">
              <h5 class="card-title">{{ patient }}</h5>
            </a>
            <p class="card-text">
              Age {{ patient.get_age_display }} {{ patient.get_sex_display }}<br/>
              BMI: {{ patient.body_mass_index }}
            </p>
          </div>
          <div class="card-footer text-muted">
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: {{ patient.get_crn_score }}%"
                   aria-valuenow="{{ patient.crn_score }}" aria-valuemin="0" aria-valuemax="100">
                {{ patient.crn_score }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p>No patients yet!
          </p>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}
